.cautioncoin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.cautionh1 {
    font-size: 90px;
    margin: 20px;
}

.cautionh2 {
    font-size: 38px;
}

.text-block-1 {
    width: 800px;
}

.text-block-2 {
    width: 800px;
}

.a-tag {
    color: #7eecff;
    text-decoration: underline;
    transition: color 1s;
}

.a-tag:hover {
    color: #24bed6;
    text-decoration: underline;
}
@media screen and (max-width: 760px) {
    .cautioncoin {
        width: 350px;
        margin: 0 auto;
        font-size: 16px;
    }
    .cautionh1 {
        font-size: 40px;
    }
    .cautionh2 {
        font-size: 22px;
        text-align: center;
    }
    .text-block-1 {
        width: 310px;
    }
    .text-block-2 {
        width: 300px;
    }
  }

@media screen and (max-width: 350px) {
    .cautioncoin {
        width: 300px;
        margin: 0 auto;
        font-size: 12px;
    }
    .cautionh1 {
        font-size: 30px;
    }
    .cautionh2 {
        font-size: 18px;
        text-align: center;
    }
    .text-block-1 {
        width: 220px;
    }
    .text-block-2 {
        width: 220px;
    }
  }
