.vault {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

@media screen and (max-width: 1000px) {
    .vault {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {
    .vault {
      grid-template-columns: 1fr;
      height: 14rem;
    }
  }
