
/*

footer

*/

.footer {
    width: 90%;
    font-size: 1.3rem;
  }

  .address-container {
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
  }

  .address {
    display: flex;
    margin: 4rem 10px 0 0;
  }

  .address > img {
    height: 50px;
    margin-right: 10px;
  }


  .socials {
    display: flex;
    justify-content: space-around;
    margin: 6rem 10px 5rem 0;
    margin-bottom: 5rem;
    margin-right: 10px;
  }
  .socials-container {
    display: flex;
    justify-content: center;
  }
  li {
    list-style: none;
  }

  .fa-brands {
    font-size: 2rem;
    margin-right: 5px;
  }
  .fa-twitter {
    color: #00acee;
  }
  .fa-twitch {
    color: #6441a5
  }
  .fa-discord {
    color: #7289da;
  }

  @media screen and (max-width: 760px) {
    .socials {
      margin: 0 10px 10rem 0;
    }
    .socials-container {
      margin: 2rem 2.4rem 0 0;
    }

    .address {
      margin: 10px 0;
    }
  }

  @media screen and (max-width: 1200px) {
    .address-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 30px;
    }
    .address {
      margin: 10px 0;
    }
  }

