
/*

footer

*/

.footer {
    width: 100%;
    font-size: 1.3rem;
  }

  .socials {
    display: flex;
    justify-content: space-around;
    margin: 6rem 10px 5rem 0;
    margin-bottom: 5rem;
    margin-right: 10px;
  }
  .socials-container {
    display: flex;
    justify-content: center;
  }
  li {
    list-style: none;
  }

  .fa-brands {
    font-size: 2rem;
    margin-right: 5px;
  }
  .fa-twitter {
    color: #00acee;
  }
  .fa-twitch {
    color: #6441a5
  }
  .fa-discord {
    color: #7289da;
  }

  @media screen and (max-width: 760px) {
    .socials {
      margin: 0 10px 10rem 0;
    }
  }
