* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #1e1e1e;
  color:	whitesmoke;
}
.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.nav-home {
background-color: #3e3e42;
margin: 4px 0;
padding: 8px 15px;
border-radius: 12px;
border: 1px solid #3e3e42;
filter: drop-shadow(.5px .5px 1px black);
transition: background-color .8s;
}

.nav-home:hover {
  background-color: #252526;
  border: 1px solid #252526;
}
.nav-merch {
  background-color: #3e3e42;
  margin: 4px 20px;
  padding: 8px 15px;
  border-radius: 12px;
  border: 1px solid #3e3e42;
  filter: drop-shadow(.5px .5px 1px black);
  transition: background-color .8s;
}
.nav-merch:hover {
  background-color: #252526;
  border: 1px solid #252526;
}
.nav-ref {
  background-color:	#3e3e42;
  margin: 4px 20px;
  padding: 8px 15px;
  border-radius: 12px;
  border: 1px solid #3e3e42;
  filter: drop-shadow(.5px .5px 1px black);
  transition: background-color .8s;
}
.nav-ref:hover {
  background-color: #252526;
  border: 1px solid #252526;
}
.body {
  display: flex;
  align-items: center;
  flex-direction: column;
}
h1 {
  font-size: 3rem;
}

h2 {
  margin: 10px 0 10px 0;
}

h3 {
  margin: 3px 0 2px 0;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

.two-across {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin: 1rem 0;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: 	#3e3e42;
  height: 20rem;
  width: 30rem;
  border-radius: 10px;
  filter: drop-shadow(4px 4px 10px black);
  transition: background-color .8s;
}

.block:hover {
  background-color: #252526;
  border: 1px solid #252526;
}

.block:active {
  filter: drop-shadow(1px 1px 2px black);
}

.merch {
  font-size: 5rem;
}

.ref-links {
  font-size: 5rem;
}

/*
footer
*/

.footer {
  width: 100%;
  margin-top: 5rem;
  font-size: 1.3rem;
}

.socials {
  display: flex;
  justify-content: space-around;
}
li {
  list-style: none;
}

.fa-brands {
  font-size: 2rem;
}
.fa-twitter {
  color: #00acee;
}
.fa-twitch {
  color: #6441a5
}
.fa-discord {
  color: #7289da;
}

/*
ref links
*/

.three-wide-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 170px;
}

.ref-card {
  background-color: #3e3e42;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 30px 40px 30px;
  border-radius: 12px;
  border: 1px solid black;
  filter: drop-shadow(2px 2px 5px black);
  height: 22rem;;
  width: 20rem;
  padding: .9rem;
}

.ref-card-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95%;
}


.ref-button {
  background-color: #3e3e42;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 1px solid #3e3e42;
  width: 8rem;
  height: 4rem;
  margin-bottom: 1rem;
  filter: drop-shadow(1px 2px 4px black);
  transition: background-color .8s;
}

.ref-button > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99%;
  height: 99%;
}

.ref-button:hover {
  background-color: #252526;
  border: 1px solid #252526;
}

@media screen and (max-width: 715px) {
  .ref-card {
    height: auto;
  }
  .footer {
    display: flex;

  }
}
