.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.body {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
}
h1 {
  font-size: 3rem;
}

h2 {
  margin: 10px 0 0 0;
}

h3 {
  margin: 3px 0 2px 0;
}

a {
  text-decoration: none;
  color: black;
}

.two-across {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin: 1rem 0;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: whitesmoke;
  height: 20rem;
  width: 30rem;
  border-radius: 10px;
  filter: drop-shadow(4px 4px 10px black);
}

.block:hover {
  background-color: lightgrey;
}

.block:active {
  filter: drop-shadow(1px 1px 2px black);
}

.merch {
  font-size: 5rem;
}

.ref-links {
  font-size: 5rem;
}

.footer {
  width: 90%;
  margin-top: 5rem;
  font-size: 1.3rem;
}

.socials {
  display: flex;
  justify-content: space-around;
}

li {
  list-style: none;
}

.fa-brands {
  font-size: 2rem;
}

/*
ref links
*/

.three-wide-lists {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
}

.ref-button {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 1px solid grey;
  width: 8rem;
  height: 4rem;
  margin-bottom: 1rem;
  filter: drop-shadow(1px 1px 2px black);
}

.ref-button > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.ref-button:hover {
  background-color: lightgrey;
}

.ref-button:active {
  filter: drop-shadow(0.1px 0.1px 1px black);
}

.ref-card {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 30px 40px 30px;
  border-radius: 12px;
  border: 1px solid black;
  filter: drop-shadow(2px 2px 5px black);
  height: 20rem;
}
