.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.two-across {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 3rem 0;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: lightgrey;
  height: 20rem;
  width: 30rem;
  border-radius: 10px;
  filter: drop-shadow(4px 4px 10px black);
}

.block:hover {
  background-color: darkgrey;
}

.block:active {
  filter: drop-shadow(1px 1px 3px black);
}

.merch {
  font-size: 5rem;
}

.ref-links {
  font-size: 5rem;
}

.footer {
  width: 100%;
  margin-top: 5rem;
}

.socials {
  display: flex;
  justify-content: space-around;
}

li {
  list-style: none;
}
